@{
    ViewData["Title"] = "Error";
}


<div class="container">

    <img src="~/images/adult-15814_640 (1).jpg" alt="Girl thinking" id="bg" data-respond asp-append-version="true" />

    <h1 class="text-danger" id="error">AH Man!!  I think you did something Wrong</h1>

</div>



