
<div class="container-fluid" id="service">

    @{
        ViewData["Title"] = "Hair Services";
    }
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <ul>
        <li>Haircuts </li>
        <li>Coloring </li>
        <li>Styling  </li>
        <li>Up-Dos</li>
        <li>Extentions</li>
        <li>Blow Outs</li>
        <li>Lash Extentions</li>
        <li>Make up Airbrush</li>
        <li>Make up Regular Application</li>
    </ul>
</div>
