

    <div class="container-fluid" id="service">

        @{
            ViewData["Title"] = "Hair Services";
        }
        <h1 class="text-center">@ViewData["Title"].</h1>
        <h3 class="text-center">@ViewData["Message"]</h3>

        <div class="row col-lg-offset-6">
            <div id="sign">
                <b>
                    Passion<br />
                    Slice
                </b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1" id="list">
                <ul>
                    <li>Haircuts </li>
                    <li>Coloring </li>
                    <li>Styling  </li> 
                    <li>Up-Dos</li>
                    <li>Extentions</li>
                    <li>Blow Outs</li>
                    <li>Lash Extentions</li>
                    <li>Make up Airbrush</li>
                    <li>Make up Regular Application</li>
                    <li>Manicures and Pedicures</li>
                    <li>Massages</li>
                    <li>Brading</li>
                    <li>Micro Brading</li>
                </ul>
            </div>
        </div>
    <h2 class="text-center">We also provide onsite Mobile Salon Services:</h2><h4 class="text-center"> "Where we come to you and get you Runway Ready and Picture Perfect."</h4>
    <br />
    <h3 id="bottom">********************** Take a look at our photo gallery of some of the hair styles we have done. ************</h3>
</div>
