

<div class="well well-lg" id="map">

    @{
        ViewData["Title"] = "Find Us!";
    }
    <h1 class="title">@ViewData["Title"]</h1>
    <h3 class="title">@ViewData["Message"]</h3>

    <div class="item">
        <center><img src="~/images/20161119_101056.jpg" alt="picture of hair beauticians" class="img-responsive" height="500" width="1000" /></center>
    </div>

        <div class="container" id="contactpg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-11" id="map">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2813.7285597037594!2d-80.04190915514368!3d33.00098014966669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe60e4963f2227%3A0xc9c926459338406e!2sPassion+Slice+Inc!5e0!3m2!1sen!2sus!4v1477627214320" width="900" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                         </div>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB703ylB3v_cISBMStsPyx0Yl7BQFkLog0&callback=initMap">
                            </script>
                        </div>
                </div>
            </div>


            <div id="contact" class="col-md-11">
                <div class="col-md-8" id="address">
                    <div class="container-fluid">
                        <h2>Call Us and Set up an Appointment!</h2>
                        <h4> </h4>
                        <p><i class="fa fa-phone fa-3x" aria-hidden="true"></i>(843) 824-8354</p>
                    </div>
                </div>

                <div class="col-md-6" id="address">
                    <h3>Passion Slice</h3>
                    <p>
                        134 St James Ave, Ste 3<br />
                        Goose Creek, SC 29445<br />
                    </p>

                    <p><i class="fa fa-clock-o fa-3x" aria-hidden="true" alt="Operating Hours"></i><h4> Tuesday -Friday: 7:00 AM to 5:30 PM<br /> <br />Saturday: 4:00am to 10:00am</h4> <br /><h4>Close on Monday and Sundays</h4></p><br />

                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/Teampassionslice01/"  target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
                        <h4>Check us out on Facebook!</h4>
                    </ul>
                </div>
            </div>
        </div>
    </div>
