@{
    ViewData["Title"] = "Passion Slice";
}

    <div class="container text-center img-responsive">
            <div class="container col-xs-offset-0" id="frontname">
                <h1 class="animated fadeInUpBig" id="full"><i>Passion Slice</i></h1>
                <h2 class="animated fadeInDownBig" id="subfull">Hair and Nail Salon</h2>
            </div>
        <video  id="video" autoplay="autoplay" muted loop="loop">
            <source src="~/video/20161119_085926.mp4" type="video/mp4"/>
        </video>
    </div>
