@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="container">

        <h1 class="animated fadeInUpBig"  id="full"><i>Passion Slice</i></h1>
        <h2 class="animated fadeInDownBig" >Hair and Nail Salon</h2>
    </div>
    

</div>
