

<div class="col-lg-12 animated fadeInDown">
    <div class="container" id="wed">
        @{
            ViewData["Title"] = "Photo Gallery";
        }
        <h1 class="text-center">@ViewData["Title"]</h1>
        <h3 class="text-center">@ViewData["Message"]</h3>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link"  href="~/images2/headshot1-bspline.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image"  src="~/images/headshot1.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot2-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot2.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot3-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot3.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot4-bicubic.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot4.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot5-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot5.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot6-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot6.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot7-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot7.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot8-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot8.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot9-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot9.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot10-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot10.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot11-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot11.jpg" alt="Hair style">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="example-image-link" href="~/images2/headshot12-lanczos3.jpg" data-lightbox="example-set" data-title="hair style photo">
                        <img class="example-image" src="~/images/headshot12.jpg" alt="Hair style">
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

